#body{
    background-color: rgb(236, 235, 234);
}
#foto{
    border-radius: 25px 0 25px 0;
}
#navbar{
    background-color: rgb(236, 235, 234);
}
#footer{
    bottom: 0;
    width: 100%;
    height: 7rem;
    background-color: rgb(27, 27, 27);
}
#infofooter{
    margin-left: 5%;
}
#socialfooter{
    margin-right: 5%;
}
#icone{
    color: rgb(255, 255, 255);
}